---
name: Style checks

on:
  workflow_dispatch:

  push:
    branches:
    - main

  pull_request:
    types: [assigned, opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  COLOR: yes
  FORCE_COLOR: 1
  CARGO_TERM_COLOR: always
  CARGO_TERM_PROGRESS_WHEN: never
  CARGO_INCREMENTAL: 0
  RUST_BACKTRACE: 1
  CARGO_NET_RETRY: 10
  BINSTALL_DISABLE_TELEMETRY: true

permissions: {}
jobs:
  pre-commit:
    permissions:
      contents: read
    name: Pre-commit checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6.0.1
    - uses: j178/prek-action@v1.0.12
      with:
        prek-version: 0.2.30
